
@model WebApiProject.Models.Shoes
@{
    ViewBag.Title = "product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebApiProject.Models.Store_apiEntities db = new WebApiProject.Models.Store_apiEntities();
    //WebApiProject.Models.Store_apiEntities db = new WebApiProject.Models.Store_apiEntities();
    var cateory = db.Categories.Where(c => c.category_id == Model.category_id).FirstOrDefault();
}


<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div>
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage) || !string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <!-- Thông tin giày -->
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="~/Content/@Model.productimage_url" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.product_name</h4>
                        <p class="mb-3">Loại giày: @cateory.category_name</p>
                        <p class="mb-3">@Model.detail</p>

                        <form action="@Url.Action("Addtocart", "cart")" method="post">
                            @Html.Hidden("id_product", Model.product_id)
                            <div class="mb-3">
                                <label for="sizeSelect" class="form-label">Chọn kích thước:</label>
                                <select name="size" id="sizeSelect" class="form-select">
                                    @foreach (var sizeQuantity in db.Product_Size_Quantity.Where(c => c.product_id == Model.product_id).ToList())
                                    {
                                        int quantity = sizeQuantity.quantity ?? 0;
                                        string optionText = $"{sizeQuantity.size} - Số lượng: {quantity}";

                                        if (quantity <= 0)
                                        {
                                            continue;
                                        }
                                        else
                                        {
                                            <option value="@sizeQuantity.size">@optionText</option>
                                        }
                                    }

                                </select>
                            </div>

                            <div class="mb-4">
                                <p class="text-dark fs-5 fw-bold mb-0">@String.Format("{0:N0}", Model.price) VNĐ</p>
                            </div>
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" name="soluong" class="form-control form-control-sm text-center border-0" value="1" min="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" name="id_product" value="@Model.product_id">
                            <input type="hidden" name="price" value="@Model.price">
                            <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ hàng
                            </button>
                        </form>
                    </div>

                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">
                                    Mô tả
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p class="mb-4">@Model.description</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <form action="@Url.Action("PostComment", "Shop")" method="post">
                @Html.Hidden("id_product", Model.product_id)
                @Html.Hidden("reviewdate",DateTime.Now)
                <h4 class="mb-5 fw-bold">Bình luận</h4>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="border-bottom rounded my-4">
                            <textarea name="binhluan" id="" class="form-control border-0" cols="30" rows="2" placeholder="Bình luận của bạn" spellcheck="false"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between py-3 mb-5">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 me-3">Đánh giá:</p>
                                <div class="d-flex align-items-center" style="font-size: 12px;">
                                    <select name="rating" class="form-select" style="font-size: 12px;">
                                        <option value="1">1 Star</option>
                                        <option value="2">2 Stars</option>
                                        <option value="3">3 Stars</option>
                                        <option value="4">4 Stars</option>
                                        <option value="5">5 Stars</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                Post
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <h4 class="mb-5 fw-bold border-bottom pb-4 mb-4">Mọi người</h4>
            @foreach (var comment in Model.Comments)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row g-4">

                            <div class="col-lg-6">
                                @for (int i = 0; i < comment.rating; i++)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                                    <br />
                                    <h5 class="">
                                        <span style="font-weight: bold;">@comment.nameuser</span>
                                        <span>@comment.review_date.Value.ToString("dd/MM/yyyy")</span>

                                    </h5>
                                <p class="card-text">@comment.comment</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Single Product End -->
